.title{ 
    font-family: 'Righteous', cursive;
    position: relative;
    color: #3CA1D9; 
    display: inline-block;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 3em;
    padding: 11px 60px;
    margin: 0; 
    line-height: 1;
}

.box{
    padding: 50px 20px;
    text-align: center;
}

.box .title:before, .box .title:after {
    content: ""; 
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
    border-left: 2px solid;
    border-right: 2px solid;
    background: repeating-linear-gradient(180deg, transparent, transparent 2px, #3CA1D9 2px, #3CA1D9 4px);
  }

.box .title:before {
    left: 0;
}

.box .title:after {
    right: 0;
}

.screen{
    display: block;
    border: 2px solid #3CA1D9; 
    width: 70%;
    height: 150px;
    margin: 50px auto;
    resize: none;
    overflow: auto;
}

.keyboard-box{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 704px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    background: #888888;
    border: 3px solid #222222;
    border-radius: 5px;
}

.key{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 6px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background: #444444;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
    transition: border-radius 0.3s, background-color 0.3s;
}

.keyboard-row{
    clear: both;
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}
   
.row{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.hidden {
    display: none;
}

.textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
}

.key[data-key=Tab],
.key[data-key=CapsLock],
.key[data-key=Backspace],
.key[data-key=ShiftLeft],
.key[data-key=AltLeft],
.key[data-key=AltRight],
.key[data-key=ArrowUp],
.key[data-key=ArrowRight],
.key[data-key=ArrowLeft],
.key[data-key=ArrowDown],
.key[data-key=ControlLeft],
.key[data-key=ControlRight],
.key[data-key=MetaLeft],
.key[data-key=Delete],
.key[data-key=Enter],
.key[data-key=ShiftRight] {
    font-weight: 600;
    background-color: #222222;
}

.key[data-key=Tab] {
    width: 50px;
}

.key[data-key=CapsLock],
.key[data-key=Backspace],
.key[data-key=ShiftLeft] {
    width: 100px;
}

.key[data-key=Enter],
.key[data-key=ShiftRight] {
    width: 86px;
}
.key[data-key=Space] {
    width: 330px;
}
.key[data-key]:hover {
    background-color: #00ffff44;
}
.active[data-key],
.active[data-key]:hover {
    background-color: #00ffff;
    border-radius: 50px;
}
